.project {

  &__form {
    .ant-form-item-control-input-content {
      display: flex;
    }

    &-buttons {
      display: flex;
      align-items: center;
      border: 1px solid #d9d9d9;
      background-color: white;

      & .anticon {
        padding: 0 7px;
      }
    }
  }

  &__edit, &__form {
    display: flex;
    align-items: center;

    & .anticon {
      margin-left: auto;
      font-size: 20px;
      color: #545454;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
