@import "css/normalize.css";
@import "css/mixins";
@import '~antd/dist/antd.css';

.app {
  min-height: 100vh;
}

.icon {
  color: #545454;

  &:hover {
    cursor: pointer;
    color: black;
  }
}

.app-logo {
  height: 32px;
  margin: 16px;
  color: white;
  font-size: 20px;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

textarea {
  resize: none;
}


