@import "css/normalize.css";
@import "css/mixins";
@import '~antd/dist/antd.css';

.app {
  min-height: 100vh;
}

.icon {
  color: #545454;

  &:hover {
    cursor: pointer;
    color: black;
  }
}

textarea {
  resize: none;
}

